<h2><%= @notebook.topic %></h2>
<p><small><strong>Modified: </strong><%= @notebook.updated_at %></small></p>
<p><%= link_to 'Home', '/' %></p>

<%# Add a form for a new section here. Give the form a hidden field for notebook.topic %>